<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is an individual project idealized by me, Leandro Biciato, with the purpose of helping people who needs to talk with someone in private. 
  I'm graduated in Psychology. i'm 33 years old and i live in Brazil. 
</p>