<div id="messages" class="messages">
  <div class="row">
    <div class="col-md-6">
      <div class="message-admin">
        <h5 class="text-primary" id="message-head-admin">leandrobiciato58@gmail.com:</h5>
        <p id="message-parag">Hello there !!!
                                Be welcome and feel free to say whatever you want, i'm here to listen to you !!!
        </p>
      </div>
    </div>
  </div>'
</div>