<footer class="footer">
  <small>
    The Vent Online 
    by <em>Leandro Biciato</em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>